* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Sans-serif;
    padding: 0;
}

.TopBar {
    background-color: rgb(235, 235, 235);
    padding: 1%;
}

.TopBar a{
    text-decoration: none;
    margin: 1%;
    padding: 1%;
    color: black;
}

.TopBar a:hover{
    background-color: rgb(192, 192, 192);
    box-shadow: 0 8px 8px 0 gray;
    border-style: solid;
    border-color: rgb(172, 172, 172);
}

.TopBar a.active{
    font-weight: bold;
    border-bottom: 3px solid black;
}

.TopBar a.active:hover{
    background-color: rgb(235, 235, 235);
    box-shadow: 0 0 0 0;
    border-style: none;
    border-bottom: 3px solid black;
}

.CourseForm {
    display: inline-block;
    border-style: solid;
    box-sizing: border-box;
    margin: 1%;
    margin-top: 5%;
}

.StudyPlanPage {
    padding: 1%;
}

.AddCoursePage {
    padding: 1%;
}

.AddMajorMinorPage {
    padding: 1%;
}

.AddDegreePage {
    padding: 1%;
}

.ViewProgramPage {
    padding: 1%;
}

.UploadExportFilePage {
    padding: 1%;
    display: flex;
}

.InfoForm {
    display: inline-block;
    border-style: solid;
    box-sizing: border-box;
    margin: 1%;
    padding: 1%;
    margin-top: 5%;
}

.InfoFormTitle {
    font-size: x-large;
    font-weight: bold;
}

.InfoFormSubTitle {
    font-size: large;
    font-weight: 600;
}

.InfoFormContent {
    display: flex;
}

.InfoFormLeft {
    border-right-style: solid;
    max-height: 50vh;
    overflow: auto;
}

.InfoList {
    flex-direction: row;
    white-space: nowrap;
    cursor: pointer;
}

.InfoList:hover {
    background-color: rgb(235, 235, 235);
}

.ViewPageContent {
    display: flex;
}

.ViewPageLeft {
    padding-right: 1%;
    border-right-style: solid;
}

.ViewPageRight {
    padding-left: 1%;
}

.ViewPageSubTitle {
    font-size: large;
    font-weight: 600;
}

.CourseBox {
    display: flex;
    padding: 1%;
    align-items: center;
}

.CourseBoxCurrentCourse {
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
}

.CourseBoxCurrentCourse:hover {
    box-shadow: 0 8px 8px 0 gray;
}

.CourseBoxName {
    background-color: aqua;
}

.CourseBoxFullName {
    background-color: aquamarine;
}

.CourseBoxSubTitle {
    background-color: orangered;
}

.CourseBoxPrereg {
    background-color: orange;
}

.CourseBoxIsPrereg {
    border-style: solid;
}