* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Sans-serif;
    padding: 0;
}

.TopBar {
    background-color: rgb(235, 235, 235);
    padding: 1%;
}

.TopBar a {
    text-decoration: none;
    margin: 1%;
    padding: 1%;
    color: black;
}

.TopBar a:hover {
    background-color: rgb(192, 192, 192);
    box-shadow: 0 8px 8px 0 gray;
    border-style: solid;
    border-color: rgb(172, 172, 172);
}

.TopBar a.active {
    font-weight: bold;
    border-bottom: 3px solid black;
}

.TopBar a.active:hover {
    background-color: rgb(235, 235, 235);
    box-shadow: 0 0 0 0;
    border-style: none;
    border-bottom: 3px solid black;
}

.HomePage {
    padding: 1%;
}

.CourseForm {
    display: inline-block;
    border-style: solid;
    box-sizing: border-box;
    margin: 1%;
    margin-top: 5%;
}


.DropDownBox {
    padding: 1%;
    border-style: solid;
}

.DropDown {
    overflow: hidden;
}

.StudyPlanPage {
    padding: 1%;
    display: flex;

    .CourseList {
        padding: 1%;
        border-style: solid;
        width: max-content;

        .Title {
            font-weight: bold;
            font-size: larger;
        }
    }

    .CourseListContent {
        margin-top: 1%;
        overflow: auto;
        max-height: 50vh;

        .CourseListItem {
            border-style: solid;
            border-color: black;
            background-color: grey;
            margin-top: 1%;

            .Content {
                background-color: white;
                overflow: auto;
                max-width: 100%;
            }
        }
    }

    .Subtitle {
        font-weight: bold;
        width: 100%;
        white-space: nowrap;
    }

    .SubtitleAnnotate {
        font-weight: normal;
        float: right;
    }

    .CheckerBox {
        padding-left: 1%;

        .ProgramChecker {
            border-style: solid;
            margin-top: 1%;
            padding: 1%;
        }

        .CreditCounter {
            border-style: solid;
            margin-top: 1%;
            padding: 1%;
        }
    }

    .ClearButton {
        padding: 1%;
    }
}

.StudyPlanPageLeft {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.StudyPlanSemBox {
    padding-left: 1%;
}

.StudyPlanSem {
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-style: solid;
    width: max-content;

    .Title {
        padding: 1%;
        background-color: #528080;
        border-style: solid;
        border-color: #3F5959;
        font-weight: bold;
    }

    .Courses {
        height: 30vh;
        width: 20vh;
        overflow: auto;
    }

    .Overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .CoursePreregFail {
        background-color: #FF4238;
        border-style: solid;
        border-color: #FF1A0E;
        color: #FFD044;
        margin-top: 1%;
    }

    .CoursePreregFail:hover {
        background-color: red;
        border-style: solid;
        border-color: brown;
        color: yellow;
        margin-top: 1%;
        box-shadow: 0 8px 8px 0 gray;
    }

    .CourseExclusive {
        background-color: #FF9D1A;
        border-style: solid;
        border-color: #E08000;
        color: brown;
        margin-top: 1%;
    }

    .CourseExclusive:hover {
        background-color:darkorange;
        border-style: solid;
        border-color: orangered;
        color: brown;
        margin-top: 1%;
        box-shadow: 0 8px 8px 0 gray;
    }

    .NormalCourse {
        background-color: #A0DD72;
        border-style: solid;
        border-color: #7A9E5E;
        margin-top: 1%;
    }

    .NormalCourse:hover {
        background-color: greenyellow;
        border-style: solid;
        border-color: green;
        margin-top: 1%;
        box-shadow: 0 8px 8px 0 gray;
    }

    .ErrorCourse {
        font-size: smaller;
    }

    .Content {
        background-color: white;
        color: black;
        overflow: auto;
        max-width: 100%;
    }
}

.StudyPlanSemSum {
    .Courses {
        height: 10vh;
        width: 20vh;
        overflow: auto;
    }
}

.AddCoursePage {
    padding: 1%;
}

.AddMajorMinorPage {
    padding: 1%;
}

.AddDegreePage {
    padding: 1%;
}

.ViewProgramPage {
    padding: 1%;
}

.UploadExportFilePage {
    padding: 1%;
    display: flex;
}

.InfoForm {
    display: inline-block;
    border-style: solid;
    box-sizing: border-box;
    margin: 1%;
    padding: 1%;
    margin-top: 5%;
}

.InfoFormTitle {
    font-size: x-large;
    font-weight: bold;
}

.InfoFormSubTitle {
    font-size: large;
    font-weight: 600;
}

.InfoFormContent {
    display: flex;
}

.InfoFormLeft {
    border-right-style: solid;
    max-height: 50vh;
    overflow: auto;
}

.InfoList {
    flex-direction: row;
    white-space: nowrap;
    cursor: pointer;
}

.InfoList:hover {
    background-color: rgb(235, 235, 235);
}

.ViewPageContent {
    display: flex;
}

.ViewPageLeft {
    padding-right: 1%;
    border-right-style: solid;
}

.ViewPageRight {
    padding-left: 1%;
}

.ViewPageSubTitle {
    font-size: large;
    font-weight: 600;
}

.CourseBox {
    display: flex;
    padding: 1%;
    align-items: center;
}

.CourseBoxCurrentCourse {
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
}

.CourseBoxCurrentCourse:hover {
    box-shadow: 0 8px 8px 0 gray;
}

.CourseBoxName { 
    background-color: #6AABAB;
}

.CourseBoxFullName {
    background-color: #6AD1D1;
}

.CourseBoxSubTitle {
    background-color: #E08000;
}

.CourseBoxPrereg {
    background-color: #FF9D1A;
}

.CourseBoxIsPrereg {
    border-style: solid;
}